*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.AB{        
    background-color:rgb(163, 237, 255);
    width: 100%;
    height:100vh;
    overflow: hidden;
}
.a{
    background-color:black;
    width:10%;
    height:4vh;
    border-radius: 5px;
    color:white;
    text-align: center;
    position: relative;
    left: 1260px;
    top: 10px;
    
}
.b{
   position: relative;
   top: 5px;
}
.c{
    position: relative;
    left:625px;
    top: 70px;
}
.d{
   background-color: hsl(198, 97%, 87%);  
   width: 40%;
   height: 70vh;
   position: relative;
   left:620px;
   top: 80px;
   border-radius: 10px;
}
.e{
    position: relative;
    top: 20px;
    left: 20px;
}
input{
    position: relative;
    top:5px;
    width:90%;
    height: 4vh;
    border-color: white;
    border-radius: 5px;
}
.f{
    position: relative;
    top: 40px;
    left: 20px;
}
.f input{
    position: relative;
    top:30px;
    right: 77px;
    width: 30%;
}
.f i{
    position: relative;
    top: 30px;
    right: 100px;
}
.g{
    position: relative;
    top: 7px;
    left: 400px;
}
.g input{
    position: relative;
    top:30px;
    right: 70px;
    width: 30%;
}
.g i{
    position: relative;
    top: 30px;
    right: 100px;
}
.h{
    position: relative;
    top: 50px;
    left: 20px;
}
.h input{
    position: relative;
    top:30px;
    right: 78px;
    width: 30%;
}
.h i{
    position: relative;
    top: 30px;
    right: 105px;
}
.j{
    position: relative;
    top: 18px;
    left: 400px;
}
.j input{
    position: relative;
    top:30px;
    right: 72px;
    width: 30%;
}
.j i{
    position: relative;
    top: 30px;
    right: 100px;
}
.k{
    position: relative;
    top: 66px;
    left: 23px;
}
.l{
    position: relative;
    top: 95px;
    left: 23px;
}
.m button{
    width: 92%;
    height: 5vh;
    position: relative;
    top: 150px;
    left: 20px;
    background-color: black;
    color: white;
    border-radius:6px;
}
.n{
    background-color: rgb(0, 0, 0);
    width:2.5%;
    height: 90vh;
    position: relative;
    bottom: 530px;
    border-radius: 6px;
    left: 2px;
}
.n i{
    color: white;
    position: relative;
    left: 10px;
    top: 80px;
}
.o{
    color: white;
    position: relative;
    top: 40px;
}
.p{
   position: relative;
   top: 80px;
}
.q{
   position: relative;
   top: 120px;
}
.r{
   color: white;
   position: relative;
   top: 160px;
}
.s{
    position: relative;
    top: 200px;
}
.t{
    position: relative;
    top: 240px;
}
.u{
    position: relative;
    top: 280px;
}
@media only screen and (max-width:426px) {
    .d{
        width: 85%;
        position: relative;
        left:50px;
        top: 80px;
    }
    .g{
        position: relative;
        top: 10px;
        left: 190px;
    }
    .g input{
        position: relative;
        top:30px;
        right: 70px;
        width: 33%;
    }
    .g i{
        position: relative;
        top: 30px;
        right: 90px;
    }
    .f input{
         width: 33%;
    }
    .h input{
        width: 33%;
    }
    .j{
        position: relative;
        top: 20px;
        left: 190px;
    }
    .j input{
        position: relative;
        top:30px;
        right: 72px;
        width: 33%;
    }
    .j i{
        position: relative;
        top: 30px;
        right: 100px;
    }
    .a{ 
        width: 25%;
        height: 6vh;
        position: relative;
        left: 255px;
        top: 10px;
    }    
    .n{
        width:8%;
        height: 90vh;
        position: relative;
        bottom: 530px;
        border-radius: 6px;
        left: 2px;
    }
    .c{
        position: relative;
        left:54px;
        top: 70px;

    }
}